__pycache__/classes.cpython-312.pyc
__pycache__/classes.cpython-312.pyc
_robocze/~$EL01.xlsx
_robocze/EL01.dwg
_robocze/EL01.bak
_robocze/EL01.dwl
_robocze/EL01.dwg
_robocze/EL01.dwg
_robocze/EL01.dwl
